
body{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    color: crimson;
    text-align: center;
    font-family: Helvetica;
}

ul{
   list-style: none;
   padding: 0;
}

li{
    display:flex;
    justify-content: space-between;
}

.hidden{
    visibility: hidden
}

.complete{
    text-decoration: line-through;
}

